div>img{
    width: 32.3%;
    height: 300px;
    padding: 5px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px){
    div>img{
        display: block;
        width: 295px;
        height: 295px;
        
    }
    
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px){
    div>img{
        display: inline-block;
        width: 350px;
        margin: 5px;
    }
}